html,body{
		height:100%;
		width:100%;
		margin: 0;
	}
	*{
		margin: 0;
		padding: 0;
	}

@media {
	*{
		font-size: 28px;
	}
	#guider ul{
	display: flex;
	list-style: none;
}
#guider li{
	height: 80px;
	width:80px;
	text-align: center;
	border-right: 1px solid #bbb; 
}
#guider li:last-child{
	border-right: none;
}
#guider li a{
	height: 80px;
	display: block;
	color:black;
	width: 80px;
	text-decoration: none;
	text-align: center;
	line-height: 60px;
}
#guider li a:hover{
	background-color: gray;
}
.bgclass{
	background:url(../img/index.png)no-repeat;
	height:calc(100% - 80px);
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}
	.header{
		position: absolute;
		background-color: #948b8ba8;
		height:60px; 
		right: 0;
		left: 0;
		display: flex;
	}
	#menu ul{
		display: flex;
		list-style: none;
	}
	#menu li{
		height: 80px;
		width:100px;
		text-align: center;
		border-right: 1px solid #ffffff; 
	}
	#menu li:last-child{
		border-right: none;
	}
	#menu li a{
		height: 80px;
		display: block;
		color:black;
		width: 100px;
		text-decoration: none;
		text-align: center;
		line-height: 80px;
	}
	#menu li a:hover{
		background-color: gray;
	}
	.bodies{
		position: absolute;
		top:60px;
		left: 0;
		right: 0;
		opacity: 0.5;
		background-color: #948b8ba8;
		overflow: hidden;
		min-height:calc(100% - 60px);
	}
	.lable{
		position: fixed;
		bottom: 0;
		height: 80px;
		background-color: gray;
		opacity: 0.3;
		left: 0;
		right:0;
 	}
	#labmenu ul{list-style:none;display: flex;}
	#labmenu li{height: 80px;width:150px;display: block;text-align: center;border-bottom: 1px solid white;line-height: 80px;}
	#labmenu li:last-child{border-bottom: none;}
	#list li{display: block;width:100%;height:100px;line-height: 100px;border-bottom: 1px solid black;}
	#list li:last-child{border-bottom: none;}
	#list li a{display:block;color: black;height: 100px;width: 100%;text-decoration: none;line-height: 100px;}
	#list li a:hover{background-color: gray;}
	#list li a img{
		height: 100px;width: 100px;
		display: inline-block;border-right: 1px solid white;}
	#list li a p{
		display: inline-block;
		height: 100px;width:170px;
		line-height: 100px;text-align: center;
		vertical-align: top;border-right: 1px solid white;
	}
	#list li a p:last-child{
		border-right: none;
		width:530px ;
		overflow: hidden;
	}
	.totop{
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
		position: fixed;
		right: 20px;
		bottom: 100px;
		background-clip: padding-box;
	}
	#sign_in{
		height: 200px;
		width: 400px;
		position: relative;
		margin-left: calc(50% - 200px);
		margin-top: calc(50% - 100px);
	}
	#sign_in h2{
		height: 40px;
		font-size: 32px;
	}
	#sign_in input{
		height: 40px;
	}
	#sign_in button{
		height: 80px;
		width:120px;
	}
}

@media (min-width: 992px) {
	*{
		font-size: 14px;
	}
	.bgclass{
	background:url(../img/cropped-297f51ce36d3d53947b200ce3687e950342ab042.png)no-repeat;
	height: 90%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}
	.header{
		position: absolute;
		background-color: #948b8ba8;
		height:60px; 
		right: 0;
		left: 0;
		display: flex;
	}
	#menu ul{
		display: flex;
		list-style: none;
	}
	#menu li{
		height: 60px;
		width:80px;
		text-align: center;
		border-right: 1px solid #ffffff; 
	}
	#menu li:last-child{
		border-right: none;
	}
	#menu li a{
		height: 60px;
		display: block;
		color:black;
		width: 80px;
		text-decoration: none;
		text-align: center;
		line-height: 60px;
	}
	#menu li a:hover{
		background-color: gray;
	}
	.totop{
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
		position: fixed;
		right: 100px;
		bottom: 100px;
		background-clip: padding-box;
	}
	.main{
		position: fixed;
		width: 100%;
		top:60px;
		bottom: 0;
		background: url(/img/7aec54e736d12f2e72db323e41c2d56284356896.jpg)no-repeat;
		background-size: length:auto;
		background-position: center;
		background-attachment: scroll;
		opacity: 0.5;
	}
	.bodies{
		position: absolute;
		top:60px;
		left: 50%;
		margin-left:-400px; 
		width:800px;
		opacity: 0.5;
		background-color: #948b8ba8;
		overflow: hidden;
		min-height:calc(100% - 60px);
	}
	.display-none{
		display: none;
	}
	.lable{
		position: fixed;
		top:50%;
		margin-top: -200px;
		height: 210px;
		width: 150px;
		background-color: gray;
		opacity: 0.3;
		left: 50%;
		margin-left:-550px; 
	}
	.lable a{
		height: 70px;
		display: block;
		color:black;
		width: 150px;
		text-decoration: none;
		text-align: center;
		line-height: 70px;
	}
	.lable ul li.active{
		background-color:#99b9e2;
	}
	#labmenu ul{list-style:none;display:list-item;}
	#labmenu li{height: 70px;width:150px;display: block;text-align: center;border-bottom: 1px solid white;line-height: 70px;}
	#labmenu li:last-child{border-bottom: none;}
	#list li{display: block;width:800px;height:50px;line-height: 50px;border-bottom: 1px solid black;}
	#list li:last-child{border-bottom: none;}
	#list li a{display:block;color: black;height: 50px;width: 800px;text-decoration: none;line-height: 50px;}
	#list li a:hover{background-color: gray;}
	#list li a img{
		height: 50px;width: 50px;
		display: inline-block;border-right: 1px solid white;}
	#list li a p{
		display: inline-block;
		height: 50px;width:100px;
		line-height: 50px;text-align: center;
		vertical-align: top;border-right: 1px solid white;
	}
	#list li a p:last-child{
		border-right: none;
		width: 540px;
	}
	.return{
		height: 50px;
		width:100px;
		background-color: #948b8ba8;
		line-height: 50px;
		text-align: center;
		position: fixed;
		top:100px;
		margin-left: -100px;
	}
	#return a{display: block;height:50px;width: 100px;text-decoration: none;}
	#return a:hover{ background-color: gray;opacity: 1; }
	.texts{
		background-color: #cfd5da;
		float: right;
		margin-right: 50px;
		margin-top: 20px;
		border-left: #c2c2c4 solid 4px;
		display: block;
	}
	.tb{
		background-color: transparent;
		width:300px;
		border-spacing: 0;
		border-top: 1px solid black;
		border-left: 1px solid black;
		margin-left: 10px;
	}
	#tb th,td{border-right:1px solid black;border-bottom:1px solid black;padding: 3px; }
	#texts p{padding:25px;}
	.text-cen{text-align:center;}
}
	#sign_in{
		height: 200px;
		width: 400px;
		position: relative;
		margin-left: calc(50% - 200px);
		margin-top: calc(50% - 100px);
	}
	#sign_in h2{
		height: 20px;
		font-size: 28px;
	}
	#sign_in input{
		height: 20px;
		width: 340px;
	}
	#sign_in button{
		height: 40px;
		width:60px;
	}
	@font-face
{
	font-family: 'webfont';
	font-display: swap;
	src: url('/font/webfont_194hyadtkld/webfont.eot');
	src:url('/font/webfont_194hyadtkld/webfont.eot?#iefix') format('embedded-opentype'),
	url('/font/webfont_194hyadtkld/webfont.woff2') format('woff2'),
	url('/font/webfont_194hyadtkld/webfont.woff') format('woff'),
	url('/font/webfont_194hyadtkld/webfont.ttf') format('truetype'),
	url('/font/webfont_194hyadtkld/webfont.svg#webfont') format('svg');
}
.web-font{
	font-family: "webfont"!important;
	font-size: 50px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
}
