html,body{
		height:100%;
		width:100%;
	}
	*{
		margin: 0;
		padding: 0;
	}
	.header{
		position: fixed;
		background-color: #948b8ba8;
		height:60px; 
		right: 0;
		left: 0;
		display: flex;
	}
	#menu ul{
		display: flex;
		list-style: none;
	}
	#menu li{
		height: 60px;
		width:80px;
		text-align: center;
		border-right: 1px solid #ffffff; 
	}
	#menu li:last-child{
		border-right: none;
	}
	#menu li a{
		height: 60px;
		display: block;
		color:black;
		width: 80px;
		text-decoration: none;
		text-align: center;
		line-height: 60px;
	}
	#menu li a:hover{
		background-color: gray;
	}
	.totop{
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
		position: fixed;
		right: 100px;
		bottom: 100px;
	}
	.main{
		position: fixed;
		width: 100%;
		top:60px;
		bottom: 0;
		background: url(/img/7aec54e736d12f2e72db323e41c2d56284356896.jpg)no-repeat;
		background-size: length:auto;
		background-position: center;
		background-attachment: scroll;
		opacity: 0.5;
	}
	.bodies{
		position: fixed;
		top:60px;
		bottom: 0;
		left: 50%;
		margin-left:-400px; 
		width:800px;
		opacity: 0.5;
		background-color: #948b8ba8;
		overflow: scroll;
		overflow-x:visible;<!--js需求--> 
	}
	.lable{
		position: fixed;
		top:50%;
		margin-top: -200px;
		height: 210px;
		width: 150px;
		background-color: gray;
		opacity: 0.3;
		left: 50%;
		margin-left:-550px; 
	}
	#labmenu ul{list-style:none;}
	#labmenu li{height: 70px;width:150px;display: block;text-align: center;border-bottom: 1px solid white;line-height: 70px;}
	#labmenu li:last-child{border-bottom: none;}
	#list li{display: block;width:800px;height:50px;line-height: 50px;border-bottom: 1px solid black;}
	#list li:last-child{border-bottom: none;}
	#list li a{display:block;color: black;height: 50px;width: 800px;text-decoration: none;line-height: 50px;}
	#list li a:hover{background-color: gray;}
	.return{
		height: 50px;
		width:100px;
		background-color: #948b8ba8;
		line-height: 50px;
		text-align: center;
		position: fixed;
		top:100px;
		margin-left: -100px;
	}
	#return a{display: block;height:50px;width: 100px;text-decoration: none;}
	#return a:hover{ background-color: gray;opacity: 1; }

	@font-face
{
	font-family: 'webfont';
	font-display: swap;
	src: url('/font/webfont_194hyadtkld/webfont.eot');
	src:url('/font/webfont_194hyadtkld/webfont.eot?#iefix') format('embedded-opentype'),
	url('/font/webfont_194hyadtkld/webfont.woff2') format('woff2'),
	url('/font/webfont_194hyadtkld/webfont.woff') format('woff'),
	url('/font/webfont_194hyadtkld/webfont.ttf') format('truetype'),
	url('/font/webfont_194hyadtkld/webfont.svg#webfont') format('svg');
}
.web-font{
	font-family: "webfont"!important;
	font-size: 50px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
}